<div class="card text-bg-secondary mb-4">
  <div class="card-body">
    <%= render @friend %>
  </div>
</div>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-primary me-2" %>
  <%= link_to "Back to friends", friends_path, class: "btn btn-dark ms-2" %>

</div>
