<div class="d-flex flex-column align-items-center my-4">
  <h1>About Page</h1>
  <p>
    <%= @about_me %>
  </p>
  <p>
    If you're willing to contact me, feel free to send an e-mail to: <%= mail_to @contact_info %>.
  </p>
</div>
<div class="my-4">
</div>
