<div class="d-flex align-items-center my-4 flex-column">
  <h1 class='title'>Hello World!</h1>
  <p>
    This is a web app to keep track of your contacts information. 
  </p>
  <p>
    I built this app to study and practice Ruby on Rails, based on the FreeCodeAcademy class.
  </p>
</div>
